In [44]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.utils import resample

In [45]:
heart_stroke = pd.read_csv('C:/Users/3rafa/Desktop/ahmed adel/healthcare-dataset-stroke-data.csv')

In [46]:
heart_stroke.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [47]:
heart_stroke.drop(['id' , 'ever_married'] , axis = 1 , inplace = True)

In [48]:
heart_stroke.head()

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1

In [49]:
heart_stroke['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [50]:
heart_stroke['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [51]:
heart_stroke['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

In [52]:
heart_stroke['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [53]:
heart_stroke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   work_type          5110 non-null   object
 5   Residence_type     5110 non-null   object
 6   avg_glucose_level  5110 non-null   float64
 7   bmi                4909 non-null   float64
 8   smoking_status     5110 non-null   object
 9   stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 399.3+ KB

In [54]:
heart_stroke['gender'] = heart_stroke['gender'].replace({ 'Female' : 0 , 'Male' : 1 , 'Other' : 2 })
heart_stroke['work_type'] = heart_stroke['work_type'].replace({'Private' : 0 , 'Self-employed' : 1 , 'Govt_job' : 2 , 'children' : 3 , 'Never_worked' : 4  })
heart_stroke['Residence_type'] = heart_stroke['Residence_type'].replace({'Urban' : 0 , 'Rural' : 1 })
heart_stroke['smoking_status'] = heart_stroke['smoking_status'].replace({'formerly smoked' : 0 , 'never smoked' : 1 , 'smokes' : 2 , 'Unknown' : 3 })

In [55]:
heart_stroke.head()

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,0,0,228.69,36.6,0,1
1,0,61.0,0,0,1,1,202.21,NaN,1,1
2,1,80.0,0,1,0,1,105.92,32.5,1,1
3,0,49.0,0,0,0,0,171.23,34.4,2,1
4,0,79.0,1,0,1,1,174.12,24.0,1,1

In [56]:
heart_stroke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int64
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   work_type          5110 non-null   int64
 5   Residence_type     5110 non-null   int64
 6   avg_glucose_level  5110 non-null   float64
 7   bmi                4909 non-null   float64
 8   smoking_status     5110 non-null   int64
 9   stroke             5110 non-null   int64
dtypes: float64(3), int64(7)
memory usage: 399.3 KB

In [57]:
heart_stroke.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [58]:
heart_stroke['bmi'] = heart_stroke['bmi'].fillna(heart_stroke['bmi'].mean())

In [59]:
heart_stroke.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [60]:
heart_stroke.head()

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,0,0,228.69,36.600000,0,1
1,0,61.0,0,0,1,1,202.21,28.893237,1,1
2,1,80.0,0,1,0,1,105.92,32.500000,1,1
3,0,49.0,0,0,0,0,171.23,34.400000,2,1
4,0,79.0,1,0,1,1,174.12,24.000000,1,1

In [61]:
print("Count of stroke classes:\n", heart_stroke['stroke'].value_counts())

Count of stroke classes:
 0    4861
1     249
Name: stroke, dtype: int64

In [62]:
df_majority = heart_stroke[heart_stroke["stroke"] == 0]
df_minority = heart_stroke[heart_stroke["stroke"] == 1]

In [63]:
df_majority_downsampled = resample(df_majority,
                                   replace=False,
                                   n_samples=2555,
                                   random_state=42)

In [64]:
df_minority_oversampled = resample(df_minority,
                                   replace=True,
                                   n_samples=2555,
                                   random_state=42)

In [65]:
df_balanced = pd.concat([df_majority_downsampled, df_minority_oversampled])

In [66]:
heart_stroke_balanced = df_balanced.sample(frac=1, random_state=42)

In [67]:
stroke_counts = heart_stroke_balanced["stroke"].value_counts()
print("stroke distribution after balancing:\n", stroke_counts)

stroke distribution after balancing:
 1    2555
0    2555
Name: stroke, dtype: int64

In [68]:
heart_stroke_balanced.head()

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
98,1,57.0,1,0,2,0,78.92,27.700000,0,1
43,0,63.0,0,0,0,0,90.90,28.893237,0,1
30,1,57.0,1,0,0,0,212.08,44.200000,2,1
237,1,77.0,0,0,1,1,162.14,32.600000,0,1
228,0,39.0,0,0,1,0,97.76,29.600000,2,1

In [69]:
X = heart_stroke_balanced.drop('stroke', axis=1)
y = heart_stroke_balanced['stroke']

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [71]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [72]:
model  = RandomForestClassifier(n_estimators=200)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200)

In [73]:
y_pred = model .predict(X_test)

In [74]:
print("Accuracy:",accuracy_score(y_test, y_pred)* 100)

Accuracy: 98.53228962818004

In [75]:
entered_data = [[1,57.0,1,0,2,0,78.92,27.700000,0]]
entered_data_scaled = scaler.transform(entered_data)
prediction = model .predict(entered_data_scaled)

In [76]:
prediction = model .predict(entered_data_scaled)

In [77]:
if prediction[0] == 0:
    print("This person is at good health.")
else:
    print("YOU had a heart stroke .")

YOU had a heart stroke .

In [84]:
import joblib

In [85]:
filename = 'model.joblib'  # Name of the saved model file
joblib.dump(model, filename)

['model.joblib']

In [86]:
loaded_model = joblib.load(filename)

In [87]:
pr=loaded_model.predict(entered_data_scaled)

In [88]:
if prediction[0] == 0:
    print("This person is at good health.")
else:
    print("YOU had a heart stroke .")

YOU had a heart stroke .